:root {

  --md-primary-fg-color: #004453;
  --md-primary-fg-color--light: #4c7c83;
  --md-primary-fg-color--dark: #003340;

  --md-accent-fg-color: #c9d200;
}

.md-header {
  background-color: #004453;
}

.md-tabs {
  background-color: #00a091;
}

.md-typeset h1 {
  color: #004453;
}

.md-typeset h2 {
  color: #00a091;
}

.md-typeset h3 {
  color: #7db61c;
}

.bold-sicoob {
    color: #00a091;
    font-weight: bold;
}

.sicoob-title {
    color: #00a091;
    font-weight: 700;
}

.md-typeset a {
    color: #004453;
    font-weight: bold;
}

.md-typeset a:hover {
    color: #00a091;
}

.home-banner {
    min-height: 80vh;

    background-image: url("../assets/imagens/PrestamistaFundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 12px;

    padding: 80px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Escurece levemente para facilitar leitura */
.home-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 68, 83, 0.45);
    border-radius: 12px;
}

.home-banner h1,
.home-banner p,
.home-banner a {
    position: relative;
    z-index: 1;
}